.mybody{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    min-width: 210px;
    @media screen and (max-width: 825px) {
        width: 100%;
    }
    @media screen and (max-width: 414px) {
        margin-top: 0;
    }
    .router-view{
        @media screen and (max-width: 740px) {
            margin: 0 auto;
        }
        @media screen and (max-width: 415px) {
            padding: 0 .5rem;
        }
        box-sizing: border-box;
        padding: 0 2rem;
    }
}