.toPage-wrapper{
    height: 2rem;
    display: flex;
    margin: 4rem auto 2rem;
    justify-content: center;
    .btn{
        height: 2rem;
        width: 2rem;
        background-position: center center;
        background-size: 100% 100%;
        cursor: pointer;
    }
    .pre-btn{
        background-image: url('/static/images/pre.svg');
    }
    .next-btn{
        background-image: url('/static/images/next.svg');
    }
    .first-btn{
        background-image: url('/static/images/first.svg');
    }
    .last-btn{
        background-image: url('/static/images/last.svg');
    }
    .page-box{
        padding: 0 0.5em;
        display: flex;
        .page-item{
            cursor: pointer;
            height: 2rem;
            width: 1.5rem;
            line-height: 2rem;
            text-align: center;
            background-color: #AAA;
            margin: 0 0.2rem;
            border-radius: 4px;
        }
        .cur-item{
            cursor: pointer;
            border-radius: 4px;
            height: 2rem;
            width: 1.5rem;
            line-height: 2rem;
            text-align: center;
            background: linear-gradient(45deg, #E0EAFC, #CFDEF3);
            margin: 0 0.2rem;
        }
    }
}