.detail-wrapper{
    box-sizing: border-box;
    padding: 1em;
    font-size: 1vw;
    width: 80%;
    margin-left: 10%;
    margin-top: 1rem;
    border: 1px solid #000;
    border-radius: 4px;
    .show-tip{
        text-align: center;
        font-size: 1rem;
    }
    .article-item{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .title{
            margin: 2rem 0 1rem;
            font-size: 1.8rem;
            text-align: center;
            padding: 0.2em;
            @media screen and (max-width: 414px) {
                margin-top: 0;
            }
        }
        .aritcle-info{
            margin: 0.5rem auto 0;
            display: flex;
            width: 60%;
            font-size: 0.8rem;
            justify-content: space-evenly;
            &:nth-child(2){
                .info-item:nth-of-type(2){
                    @media screen and (max-width: 1250px){
                        display: none;
                     }
                }
                .info-item:nth-of-type(3){
                    @media screen and (max-width: 990px){
                        display: none;
                     }
                }
                 @media screen and (max-width: 430px){
                        display: none;
                     }
            }
            &:nth-child(3){
                .info-item:nth-of-type(2){
                    @media screen and (max-width: 650px){
                        display: none;
                     }
                }
            }
            .info-item{
                color: #999;
                text-align: center;
                margin-right: 1rem;   
                img{
                    vertical-align: middle;
                    width: 0.8rem;
                    height: 0.8rem;
                    margin-right: 0.2rem;
                    border-radius: 2px;
                    vertical-align: center;
                }
            }
        }
        .img-box{
            width: 80%;
            padding: 0.5rem;
            margin: 2rem auto;
            @media screen and (max-width: 414px) {
                margin: 1rem auto 0;
            }
            img{
               width: 100%;
            }
        }
        .article{
            padding: 1rem 6rem;
            @media screen and (max-width: 1000px) {
                padding: 1rem 3rem
            }
            @media screen and (max-width: 414px) {
                padding: 0 1rem;
            }
            h3{
                display: block;
                line-height: 3rem;
                font-size: 1.6rem;
                font-weight: 500;
                margin: 1rem 0;
            }
            h4{
                display:block;
                line-height: 2rem;
                font-size: 1.4rem;
                font-weight: 400;
                margin: 1rem 0;
            }
            p{
                display: inline-block;
                height: 2rem;
                font-size: 1.2rem;
                line-height: 2rem;
            }
        }
        .like-wrapper{
            width: 100%;
            text-align: center;
            display: flex;
            margin-top: 3rem;
            flex-direction: column;
            .islike{
                margin: 0 auto;
                padding: 0.4rem;
                font-size: 1rem;
                width: 4rem;
                height: 2rem;
                line-height: 2rem;
                color: red;
                background: linear-gradient(45deg, #EECDA3,#EF629F);
                border-radius: 4px;
                cursor: pointer;
            }
            .like-show{
                font-size: 1rem;
                width: 10rem;
                margin: 1.5rem auto;
            }
        }
    }
}