.body-wrapper{
    width: 80%;
    margin: 4rem auto;
    display: flex;
    position: relative;
    min-width: 210px;
    @media screen and (max-width: 640px) {
        width: 100%;
    }
    .router-view{
        box-shadow: 1px 1px 1px 1px #666;
        @media screen and (max-width: 825px) {
            margin: 0 auto;
            width: 100%;
        }
        @media screen and (max-width: 415px) {
            padding: 0 1rem;
            width: 100%;
        }
        // min-width: 400px;
        box-sizing: border-box;
        width: 76%;
        padding: 0 2rem;
    }
}