.about-wrapper{
    box-sizing: border-box;
    width: 80%;
    margin-left: 10%;
    position: relative;
    margin-top: 1rem;
    border: 1px solid #000;
    border-radius: 4px;
    .title{
        width: 10rem;
        font-size: 1.5rem;
        margin: 2rem auto 0;
        text-align: center;
    }
    .content{
        padding: 2rem;
        margin-left: 10%;
        font-size: 1rem;
        line-height: 2rem;
        @media screen and (max-width: 1420px){
            margin-left: 0;
            padding: 2rem 5rem;
        }
        @media screen and (max-width: 740px){
            margin-left: 0;
            padding: 2rem 3rem;
        }
        @media screen and (max-width: 414px){
            padding: 2rem 1rem;
        }
    }
}