 .comment-wrapper{
    width: 80%;
    box-sizing: border-box;
    margin-left: 10%;
    margin-top: 1rem;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 2rem;
    @media screen and (max-width: 414px) {
        padding: 2rem 0;
    }
    .comment-top{
        box-sizing: border-box;
        width: 90%;
        margin: 0 auto;
        .title{
            margin-bottom: 2rem;
            text-align: center;
            font-size: 1.5rem;
        }
        img{
            width: 100%;
            height: 100%;
            border-radius: 2px;
        }
    }
 }